* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow";
}
.container {
  width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
.second-container {
  width: 1045px;
  margin: 0 auto;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
.btn {
  font-family: "Fraunces";
  width: 220px;
  padding: 15px 31px;
  background-color: #0E8784;
  color: #FEFCF7;
  border-radius: 6px;
  border: none;
  text-decoration: none;
  transition: background-color 0.2s ease;
}
.btn:hover{
  background: #66D2CF;
}
.btn:active{
  background: #E2DEDB;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
