.card {
  margin-top: 178px;
}
.card__title {
  font-family: 'Fraunces';
  margin-bottom: 72px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}

.card__list {
  
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
}
.card__img {
  margin-bottom: 50px;
}
.card__item{
  width: 285px;
}
.card__item + .card__item{
  margin-left: 95px;
}
.card-inside__heading {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.card__link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
