.choose .container {
  position: relative;
  margin-bottom: 200px;
}
.choose__top {
  margin: 0 auto;
  text-align: center;
  background-color: #2c343e;
  border-radius: 10px;
}
.choose__top__heading {
  padding-top: 120px;
  padding-bottom: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
}
.choose__top__text {
  margin: 0 auto;
  padding-bottom: 200px;
  width: 540px;
  font-family: "Barlow";
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}
// bottom
.choose__bottom__list {
  position: absolute;
  top: 230px;
  left: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0 auto;
  list-style-type: none;
  z-index: 20;
}
.choose_bottom__item {
  margin-top: 86px;
  width: 350px;
  text-align: center;
  background: #0e8784;
  border-radius: 8px;
}
.choose_bottom__item + .choose_bottom__item {
  margin-left: 30px;
}

// work with before
.top__img {
  padding-top: 85px;
  padding-bottom: 75px;
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../../img/coffe\ logo\ svg.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.middle__img {
  padding-top: 85px;
  padding-bottom: 75px;
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../../img/gift.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.bottom__img {
  padding-top: 85px;
  padding-bottom: 75px;
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../../img/car.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.choose__bottom__heading {
    margin: 0 auto;
    padding-bottom: 24px;
  width: 255px;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
}
.choose_bottom_text {
    margin: 0 auto;
    padding-bottom: 48px;
  width: 255px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
}
