.footer .container {
  margin-top: 170px;
  margin-bottom: 80px;
  background-color: #2c343e;
  padding: 47px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .container .second-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-list {
  padding-left: 102px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  list-style-type: none;
}
.footer__icons img {
  padding-right: 24px;
}
.footer-link {
    padding-left: 30px;
    text-decoration: none;
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.footer-link:hover{
    color: #fff;
}
