.create__hero .container {
  background-image: url("../../img/create\ back.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin-bottom: 168px;
}
.create-title {
  padding-top: 134px;
  margin-top: 0;
  margin-bottom: 32px;
  width: 485px;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.create-text {
  padding-bottom: 137px;
  width: 485px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}
