.nav {
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // width: 285px;
  }
  &-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    padding-left: 30px;

    &:hover {
      color: #333d4b;
    }
  }
}
