.radio {
  margin-top: 200px;
}
.radio__text {
  margin-left: 30px;
  width: 24px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.left__radio {
  list-style-type: none;
}
.left__radio__link {
  text-decoration: none;
  transition: color 0.2s ease;
}
.left__radio__link:hover > span {
  color: #333d4b;
}
.radio__number {
  width: 30px;
  height: 32px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.radio__line {
  display: inline-block;
  margin-top: 24px;
  background: #83888f;
  opacity: 0.25;
  width: 255px;
  height: 1px;
  margin-bottom: 10px;
}
.input:checked .radio_labels {
  background-color: #0e8784;
}
// Radio right
.radio .second-container {
  display: flex;
}
.radio__right {
  margin-left: 120px;
}
.radio__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #83888f;
}
.radio__right__title::after {
  display: inline-block;
  width: 18px;
  height: 12px;
  background-image: url("../../img/icon\ in\ top.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}
.second__title {
  margin-top: 88px;
}
.radio__right__first {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.radio_labels {
  margin-top: 56px;
  width: 228px;
  background: #f4f1eb;
  border-radius: 8px;
}

.active h4 {
  color: #fff;
}
.active {
  background: #0e8784;
  color: #fff;
}

.radio_labels:hover {
  background: #fdd6ba;
}
.radio_labels:active {
  background: #0e8784;
  color: #fff;
}

.radio_labels:active.active {
  background: #f4f1eb;
}

.radio_labels:active h4 {
  color: #fff;
}
.radio_labels + .radio_labels {
  margin-left: 23px;
}
.capsule-item:checked {
  background-color: #0e8784;
  color: #fefcf7;
}
.capsule__item__title {
  margin-left: 28px;
  margin-top: 32px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333d4b;
}
.capsule__item__text {
  font-family: "Barlow";
  margin-left: 28px;
  margin-bottom: 84px;
  line-height: 26px;
  width: 172px;
}
.radio__footer {
  margin-top: 84px;
  margin-bottom: 40px;
  margin-left: 150px;
  background-color: #2c343e;
}
.radio__footer__title {
  padding-left: 64px;
  padding-top: 31px;
  font-family: "Barlow";
  padding-bottom: 8px;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.radio__footer__text {
  padding-bottom: 27px;
  font-weight: 900;
  padding-left: 64px;
  font-family: "Fraunces";
  width: 602px;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
.color-aqua {
  color: #0e8784;
}
.radio-link {
  margin-left: 652px;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
}
